ion-content.background {
  background-color: #000;
  background-size: cover;
  font-family: 'Playfair Display', serif;
  color: #f0f0f0;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

#container strong {
  font-size: 24px;
  line-height: 30px;
  color: #D4AF37;
}

#container p {
  font-size: 18px;
  line-height: 26px;
  color: #cfcfcf;
  margin: 0;
}

#container a {
  text-decoration: none;
  color: #D4AF37;
}

ion-item {
  background: linear-gradient(135deg, #013220, #4CAF50);
  color: #013220;
  border-radius: 16px;
  margin: 16px 0;
  padding: 25px;
  font-size: 1.6rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px solid #D4AF37;
}

ion-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

ion-label {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
  color: #D4AF37;
}

